<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 내역</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/navbarstyle.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrapstyle.css"/>
</head>

<body>
<div class="container">
    <nav th:replace="navbar_logo :: navbarFragment"></nav>
    <div class="admin_btn" align="center">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>가게이름</th>
                <th>제품이름</th>
                <th>제품옵션</th>
                <th>판매수량</th>
                <th>판매시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${a}">
                <td th:text="${a.store.storeName}"></td>
                <td th:text="${a.productName}"></td>
                <td th:text="${a.productOption}"></td>
                <td th:text="${a.sale}"></td>
                <td th:text="${a.createDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>

</html>