<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠퍼비전</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbarstyle.css" />
    <link rel="stylesheet" type="text/css" href="/css/productstyle.css" />
</head>

<body>
    <div class="container">
        <nav th:replace="navbar_logo :: navbarFragment"></nav>
    	<nav th:replace="navbar_statelog :: navbarFragment"></nav>
    	<nav th:replace="navbar_product :: navbarFragment"></nav>
        <div class="product" align="center">
            <h2>
				<a th:href="@{/member/product/coopervision}">쿠퍼비전</a>
			</h2>
        </div>
        <div id="tab_con01" class="tab_con">
            <div class="slick">
				<div class="productList">
					<div class="a1">
                		<li>
							<a th:href="@{/member/product/reservation}">
								<p><img src="/image/lens25.jpg" alt="쿠퍼비전 마이데이">쿠퍼비전 마이데이</p>
							</a>
                		</li>
                		<li>
							<a th:href="@{/member/product/reservation}">
								<p><img src="/image/lens26.jpg" alt="쿠퍼비전 마이데이 토릭">쿠퍼비전 마이데이 토릭</p>
							</a>
                		</li>
                		<li>
							<a th:href="@{/member/product/reservation}">
								<p><img src="/image/lens27.jpg" alt="쿠퍼비전 마이사이트">쿠퍼비전 마이사이트</p>
							</a>
                		</li>
                	</div>
					<div class="a2">
                		<li>
							<a th:href="@{/member/product/reservation}">
								<p><img src="/image/lens28.jpg" alt="쿠퍼비전 바이오피니티 에너지스">쿠퍼비전 바이오피니티 에너지스</p>
							</a>
                		</li>
                		<li>
							<a th:href="@{/member/product/reservation}">
								<p><img src="/image/lens29.jpg" alt="쿠퍼비전 클래리티">쿠퍼비전 클래리티</p>
							</a>
                		</li>
                		<li>
							<a th:href="@{/member/product/reservation}">
								<p><img src="/image/lens30.jpg" alt="쿠퍼비전 프로클리어">쿠퍼비전 프로클리어</p>
							</a>
                		</li>
                	</div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.productList').slick({
				dots: true,
				autoplay: true
			});
		});
	</script>
</body>

</html>